/* LOGIN FORM */

body.login { background: #fff}

/* PAGE STRUCTURE */
#container { position: relative; width: 100%; min-width: 760px; padding: 0}
#content { margin: 10px 15px }
#header { width: 100%}
#content-main { float: left; width: 100%}
#content-main p {width:335px}
#content-related { float: right; width: 18em; position: relative; margin-right: -19em}
#footer { clear: both; padding: 10px; text-align:center}

/* HEADER */
#header { background: #000; color: #fff; overflow: hidden}
#header a:link, #header a:visited { color: white }
#header a:hover {text-decoration: underline}
#branding h1 { padding: 0 10px; font-size: 18px; margin: 8px 0; font-weight: normal; color: #fff}
#branding h2 { padding: 0 10px; font-size: 14px; margin: -8px 0 8px 0; font-weight: normal; color: #ffc}
#header { width: 100%; background: #000; color: #fff; overflow: hidden}
#header a:link, #header a:visited { color: white}
#header a:hover { text-decoration: underline}

.login #container { background: white; border: 1px solid #ccc; width: 28em; min-width: 300px; margin-left: auto; margin-right: auto; margin-top: 100px}
.login #content-main { width: 100%}
.login form { margin-top: 1em}
.login .form-row { padding: 4px 0; float: left; width: 100%}
.login .form-row label { float: left; width: 9em; padding-right: 0.5em; line-height: 2em; text-align: right; font-size: 1em; color: #333}
.login .form-row #id_username, .login .form-row #id_password { width: 14em}
.login span.help { font-size: 10px; display: block}
.login .submit-row { clear: both; padding: 1em 0 0 9.4em}

.remember #container { background: white; border: 1px solid #ccc; width: 470px; min-width: 470px; margin-left: auto; margin-right: auto; margin-top: 100px}
.remember #content-main { width: 100%}
.remember form { margin-top: 1em}
.remember .form-row { padding: 4px 0; float: left; width: 100%}
.remember .form-row label { float: left; width: 9em; padding-right: 0.5em; line-height: 2em; text-align: right; font-size: 1em; color: #333}
.remember .form-row #id_username, .login .form-row #id_password { width: 14em}
.remember span.help { font-size: 10px; display: block}
.remember .submit-row { clear: both; padding: 1em 0 0 9.4em}

.footer_title { color:#666; margin-left:15px}
#message { margin:5px; padding:5px; border: 1px solid #f16048; background-color:#faebe7; color:#df280a; }
#message h1 { font-size: 1em}

